* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    margin: 0;
    display: flex;
    font-family: 'century gothic', sans-serif;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(131, 194, 95);;
}

main {
    color: #ff9900;
    display: flex;
    flex-direction: column;
    padding-top: 111px;
}

.buttonpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid;
    min-width: 240px;
}
/* Стили для контейнера кнопки */
.button {
    display: inline-block; /* делаем блочно-строчный элемент */
    margin: 18px;
    width: 89%;
    position: relative;
}

/* Стили для самой кнопки */

.pressbutton {
    color: rgb(255, 187, 0);
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    width: 100%;
    height: 38px;
}

.span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.pressbutton:hover {
    opacity: 0.1;
    cursor: pointer;
}
.mainbar {
    display: flex;
}

.infofield {
    width: 25%;
    margin: 10px;
}

.text {
    color: black;
    margin: 0;
}

.container {
    display: grid;
    gap: 20px;
    height: 100vh;
  
    /* ! */
    grid-template-areas:
      "A A A  B B B  C C C  D D D  H H H"
      "A A A  B B B  C C C  D D D  H H H"
      "A A A  B B B  C C C  D D D  H H H"
      "E E E  E E E  E E E  E E E  E E E"
      "F F F  F F F  F F F  F F F  F F F"
      "G G G  G G G  G G G  G G G  G G G"
      "I I I  I I I  I I I  I I I  I I I"
      "J J J  J J J  J J J  J J J  J J J"
      "K K K  K K K  K K K  K K K  K K K"
      "L L L  L L L  L L L  L L L  L L L";
}

.box-1 {
    grid-area: A;
}

.box-2 {
    grid-area: B;
    box-shadow: -5px 5px 20px 5px #000;
    padding: 5px;
}

.box-3 {
    grid-area: C;
    box-shadow: -5px 5px 20px 5px #000;
    padding: 5px;
}

.box-4 {
    grid-area: D;
    box-shadow: -5px 5px 20px 5px #000;
    padding: 5px;
}

.box-5 {
    grid-area: E;
    display: flex;
}

.box-6 {
    grid-area: F;
    display: flex;
    justify-content: center;
}

.box-7 {
    grid-area: G;
    display: flex;
    justify-content: end;
}

.box-8 {
    grid-area: H;
    box-shadow: -5px 5px 20px 5px #000;
    padding: 5px;
}

.box {
    height: 200px;
    width: 200px;
}

.grid-container1 {                  /*Первая "сетка" с использованием функции repeat*/
    grid-area: I;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.grid-container2 {                  /*Вторая "сетка" с использованием функции min-max*/
    grid-area: J;
    display: grid;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-rows: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
}

.grid-container3 {                  /*Третья "сетка" с использованием "названий линий"*/
    grid-area: K;
    display: grid;
    grid-template-columns: [sidebar-start] 100px 150px 200px [sidebar-end];
    grid-template-rows: [rowline-start]100px 150px 200px[rowline-end];
    gap: 10px;
}

.grid-container4 {                  /*Пример "сетки", в которой элементы автоматически разместятся по ячейкам*/
    grid-area: L;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-template-rows: repeat(auto-fit, 50px);
}

.grid-item1 { 
    grid-column: 2;
    grid-row: 2;
    background-color: green;
}

.grid-item2 {
    grid-column: 3;
    grid-row: 4;
    background-color: red;
}

.grid-item3 {
    grid-column: 1;
    grid-row: 1;
    background-color: blue;
}

.grid-item4 {
    grid-column: 2;
    grid-row: 2;
    background-color: green;

}